Repository teamTenta/Tenta, pull requests merged in 2021-01, with the labels that each got.

#4 [Feature/init ios] iOS 프로젝트 생성
  Tenta-iOS/.gitignore
  Tenta-iOS/.swiftlint.yml
  Tenta-iOS/Podfile
  Tenta-iOS/Podfile.lock
  Tenta-iOS/Tenta-iOS.xcworkspace/contents.xcworkspacedata
  Tenta-iOS/Tenta-iOS.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Tenta-iOS/Tenta-iOS/Assets.xcassets/AccentColor.colorset/Contents.json
  Tenta-iOS/Tenta-iOS/Assets.xcassets/AppIcon.appiconset/Contents.json
  Tenta-iOS/Tenta-iOS/Assets.xcassets/Contents.json
  Tenta-iOS/Tenta-iOS/ContentView.swift
  Tenta-iOS/Tenta-iOS/Info.plist
  Tenta-iOS/Tenta-iOS/Preview Content/Preview Assets.xcassets/Contents.json
  Tenta-iOS/Tenta-iOS/Tenta_iOSApp.swift
  Tenta-iOS/Tenta-iOSTests/Info.plist
  Tenta-iOS/Tenta-iOSTests/Tenta_iOSTests.swift
  Tenta-iOS/Tenta-iOSUITests/Info.plist
  Tenta-iOS/Tenta-iOSUITests/Tenta_iOSUITests.swift
Labels: feature, 📱 iOS

#1 [develop]feat: 서버 프로젝트 환경설정
  tenta-server/build.gradle
  tenta-server/gradle/wrapper/gradle-wrapper.jar
  tenta-server/gradle/wrapper/gradle-wrapper.properties
  tenta-server/gradlew
  tenta-server/gradlew.bat
  tenta-server/settings.gradle
  tenta-server/src/main/java/com/tenta/tentaserver/TentaServerApplication.java
  tenta-server/src/main/java/com/tenta/tentaserver/config/SwaggerConfig.java
  tenta-server/src/main/resources/application.properties
  tenta-server/src/test/java/com/tenta/tentaserver/TentaServerApplicationTests.java
Labels: Server, feature

#9 [Feature/GitHub API Client] Github API 호출기 생성
  tenta-server/src/main/java/com/tenta/tentaserver/config/APIConfig.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/APICommand.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/github/Actor.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/github/Event.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/github/GithubAPICommand.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/github/Repository.java
  tenta-server/src/main/java/com/tenta/tentaserver/service/APICaller.java
  tenta-server/src/main/java/com/tenta/tentaserver/service/GithubAPICaller.java
  tenta-server/src/main/java/com/tenta/tentaserver/utils/StringUtils.java
Labels: Server, feature

#13 [Develop] Github Actions 적용
  .github/workflows/iOS-CI.yml
  .github/workflows/server-CD.yml
  .github/workflows/server-CI.yml
Labels: Server, 📱 iOS

#14 [feature/server_config] Spring application.properties 수정
  tenta-server/src/main/resources/application.properties
Labels: Server

#17 [Develop] Github Actions 수정
  .github/workflows/iOS-CI.yml
  .github/workflows/server-CD.yml
  .github/workflows/server-CI.yml
Labels: Server, 📱 iOS

#16 [Feature/login view] LoginView 구현
  Tenta-iOS/Tenta-iOS/Assets.xcassets/Color/Background.colorset/Contents.json
  Tenta-iOS/Tenta-iOS/Assets.xcassets/Color/Contents.json
  Tenta-iOS/Tenta-iOS/Assets.xcassets/Color/ReverseBackground.colorset/Contents.json
  Tenta-iOS/Tenta-iOS/Assets.xcassets/github_icon.imageset/Contents.json
  Tenta-iOS/Tenta-iOS/Assets.xcassets/github_icon.imageset/github_icon.png
  Tenta-iOS/Tenta-iOS/ContentView.swift
  Tenta-iOS/Tenta-iOS/Info.plist
  Tenta-iOS/Tenta-iOS/TentaApp.swift
  Tenta-iOS/Tenta-iOS/Utils/GithubAPI.swift
  Tenta-iOS/Tenta-iOS/ViewModel/ContentViewModel.swift
  Tenta-iOS/Tenta-iOS/ViewModel/Login/LoginViewModel.swift
  Tenta-iOS/Tenta-iOS/Views/ContentView.swift
  Tenta-iOS/Tenta-iOS/Views/Login/Github/GithubLoginButton.swift
  Tenta-iOS/Tenta-iOS/Views/Login/LoginView.swift
  Tenta-iOS/Tenta-iOS/Views/Main/MainView.swift
  Tenta-iOS/Tenta-iOSTests/ContentViewModelTest.swift
  Tenta-iOS/Tenta-iOSTests/GithubAPIManagerTest.swift
  Tenta-iOS/Tenta-iOSTests/LoginViewModelTest.swift
  Tenta-iOS/Tenta-iOSTests/Mocks/MockGithubAPI.swift
  Tenta-iOS/Tenta-iOSTests/Tenta_iOSTests.swift
  Tenta-iOS/Tenta-iOSUITests/TentaUITests.swift
Labels: feature, 📱 iOS

#18 [Feature/actions_workflows] Actions 에러 수정
  .github/workflows/iOS-CI.yml
  .github/workflows/server-CD.yml
  .github/workflows/server-CI.yml
  Tenta-iOS/Tenta-iOS.xcodeproj/project.pbxproj
  Tenta-iOS/Tenta-iOS.xcodeproj/xcshareddata/xcschemes/Tenta-iOS.xcscheme
  Tenta-iOS/Tenta-iOS.xcodeproj/xcshareddata/xcschemes/Tenta-iOSTests.xcscheme
  Tenta-iOS/Tenta-iOS.xcodeproj/xcshareddata/xcschemes/Tenta-iOSUITests.xcscheme
Labels: Server, 📱 iOS

#5 [Feature/GitHub Oauth] Github OAuth Server API 구현
  tenta-server/build.gradle
  tenta-server/src/main/java/com/tenta/tentaserver/config/WebSecurityConfig.java
  tenta-server/src/main/java/com/tenta/tentaserver/controller/LoginController.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/OAuthUser.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/Role.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/User.java
  tenta-server/src/main/java/com/tenta/tentaserver/repository/UserRepository.java
  tenta-server/src/main/java/com/tenta/tentaserver/service/CustomOAuth2UserService.java
Labels: Server, feature

#11 [Feature/server main] Main Feeds 조회 API
  tenta-server/src/main/java/com/tenta/tentaserver/controller/MainController.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/FeedDTO.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/FeedType.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/github/Actor.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/github/Comment.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/github/Commit.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/github/Event.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/github/Issue.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/github/Page.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/github/PullRequest.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/github/Release.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/github/Repository.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/payload/CommentEvent.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/payload/GollumEvent.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/payload/IssuesEvent.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/payload/MemberEvent.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/payload/Payload.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/payload/PullRequestEvent.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/payload/PushEvent.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/payload/ReferenceType.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/payload/ReleaseEvent.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/payload/SponsorshipEvent.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/payload/WatchEvent.java
  tenta-server/src/main/java/com/tenta/tentaserver/service/FeedService.java
  tenta-server/src/main/resources/application.properties
Labels: Server, feature

#19 [feature/server_github_action_cd_config] 자동 배포 서버 설정
  tenta-server/build.gradle
  tenta-server/src/main/resources/application.properties
Labels: Server, feature

#24 [Feature/server_deploy_config] deploy 설정
  tenta-server/gradlew
  tenta-server/src/main/resources/application.properties
Labels: Server, feature

#27 [bug/server convert to feed]fix: 피드 변환 실패
  tenta-server/src/main/java/com/tenta/tentaserver/domain/FeedDTO.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/payload/PullRequestEvent.java
  tenta-server/src/main/java/com/tenta/tentaserver/domain/payload/PushEvent.java
Labels: Server, 🐞 bug
